{% extends "APP/inicio.html"%}
{% block boton_vol%}
<div class="container px-4 px-lg-5">
<a class="navbar-brand" href="{% url 'Inicio'%}">Inicio</a>
{% endblock%}


{% block copete%}
Los humanos amantes del terror nos visitan para intercambiar experiencias sobrenaturales, contar sus historias místicas y buscar lugares paranormales para hacer contacto entidades de otros planos!
{% endblock%}
</p>
{% block boton%}
<a class="btn btn-primary btn-xl" href="{% url 'Creadores'%}">Acerca de Mí</a>
{% endblock%}
